{% extends "users/base.html" %}
{% block content %}

	<div class="card-body">
		<h5 class="card-title p-3">WELCOME STRANGER,</h5>
		<p class="card-text p-5">bir pingpong oyun sitesidir</p>
		<a href="#" class="btn-lg btn-primary mr-3">Sign in</a>
		<a href="register" class="btn-lg btn-secondary ml-3">Register in</a>
	</div>
	<div class="card-footer text-body-secondary text-muted p-4">
		A website developed by
		<em>nkahrima, aoner, buozdemi, tsenipek, ialgac</em>!
	</div>

{% endblock content %}
