@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
	font-family:"Space Mono", sans-serif;
}

.sidebar-nav{
    margin-top: 20px;
    padding: 0;
    list-style: none;
}

.nav {
    margin: 0;
    padding: 0;
}

.nav-item {
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    justify-content: space-between; /* Elemanları arasında boşluk bırak */
    align-items: center; /* Dikey hizalamayı ayarla */
}
